@import url("https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css");

.content {
	margin: 0 auto;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
}

.copyleft-note {
	font-size: 80%;
	margin-left: 3%;
	margin-right: 3%;
}

.other-project {
	padding: 5px;
}

.split {
	width: 95%;
	height: 1px;
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: #dee2e6;
}

.double-split {
	width: 95%;
	height: 4px;
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 4px;
	border: solid #dee2e6;
	border-width: 1px 0px 1px 0px;
}

.svg-icon {
	font-size: 200%;
}

.svg-icon-inline {
	font-size: 150%;
}

a {
	text-decoration: none;
}

blockquote {
	margin-top: 0;
	margin-bottom: 16px;
	padding: 0 0.2em;
	color: #6a737d;
	border-left: .25em solid #dee2e6;
}

div#blog-container > h2 {
	text-align: center;
}

div#blog-container > h3 {
	border-bottom: 1px solid #cbcdce;
	width: 100%;
}

div#blog-container > h5 {
	padding-left: 16px;
}

img.in-art {
	max-width: 100%;
	box-sizing: initial;
	background-color: #fff;
}

pre {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 3px;
	margin: 0 auto;
	overflow: auto;
	width: 98%;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

td > ul {
	margin-bottom: 0;
}

table > tr > th,
table > * > tr > th {
	background-color: #eaecf0;
	border: 1px solid #cbcdce;
	text-align: center;
	vertical-align: middle;
	padding: 0.2em;
}

table > * > tr > td[scope=row] {
	font-weight: bold;
	background-color: #eaecf0;
	border: 1px solid #cbcdce;
	text-align: center;
	vertical-align: middle;
}

table > * > tr > td {
	border: 1px solid #cbcdce;
	text-align: center;
	vertical-align: middle;
}

table > * > tr.bold > td {
	font-weight: bold;
}

table > * > tr > td.none {
	background-color: #eeeeee;
}

@media (max-width: 575.98px) {

	.blog-tags-list {
		display: none;
	}

}

@media (max-width: 767.98px) {

	.right-column {
		margin-top: 1rem;
	}

	pre {
		margin: 0 auto;
		margin-left: 4px;
		margin-right: 4px;
		padding: 4px;
	}

}

@media (min-width: 768px) {

	.main-page {
		margin: 0 auto;
		width: 95%;
	}

	.left-column {
		float: left;
		margin: 5px;
		padding: 5px;
		width: 59%;
	}

	.right-column {
		float: right;
		margin: 5px;
		padding: 5px;
		width: 37%;
	}

	.other-projects-row {
		display: flex;
		justify-content: space-around;
	}

	#daily-image-card {
		margin: 0 auto;
		max-width: 450px;
		width: 75%;
	}

}
